.products--grid{
  display: flex;
  flex-direction: column;
}

.products-detail {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: translateX(100%);
  transition: all ease-out .5s;
}
  
.active {
  transform: translateX(60%);
}

/* Para tablets */
@media screen and ( min-width: 40em ) and ( max-width: 63.9em ) {
  .products--grid{
      display: grid;
      grid-template-columns: repeat( 4, 1fr );
      gap: 15px;
  }
}

/* Web */
@media screen and ( min-width: 64em ) {
    .products--grid{
        display: grid;
        grid-template-columns: repeat( 5, 1fr );
        gap: 15px;
    }
}