<!-- <p>
    La cantidad {{ myShoppingCart.length }}
</p>
<p>
    Total Carrrito {{ total }}
</p>

<p>
    Today {{ today | date: 'short' }}
</p>

<p>
    Cuanto timepo paso {{ date | timeAgo }}
</p>

<p>
    Otra fecha {{ date | date: 'YYYY-MM-dd' }}
</p>

<p>
    {{ 'hOLA MunDo' | vocalToNumber }}
</p> -->

<!-- <button (click)="createNewProduct()">Crear</button>
<button (click)="onShowDetail('12322')">Detalle not found</button> -->
<div class="products--grid">
  <app-product
    *ngFor="let product of products"
    [product]="product"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
  ></app-product>
  <button (click)="loadMore()">Cargar Mas</button>
</div>

<div class="products-detail" [ngClass]="{active : showProductDetails }">
  {{ statusDetail }}
  <div *ngIf="productChosen">
    <button (click)="toggleProductDetail()">Close</button>
    <h1>{{ productChosen.title }}</h1>
    <swiper
      [slidesPerView]="1"
    >
      <ng-template swiperSlide *ngFor="let image of productChosen.images">
        <img [src]="image" alt="imagen">
      </ng-template>
    </swiper>
    <p>{{ productChosen.description }}</p>
    <button (click)="updateProduct()">Editar</button>
    <button (click)="deleteProduct()">Eliminar</button>
  </div>
</div>
