<div class="principal">
  <div class="secundario">
    <p class="titulo">Yard Sale</p>
    <form>
      <div class="contenedor">
        <mat-form-field>
          <mat-label>Usuario</mat-label>
          <input matInput
          type="text">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input matInput
          type="password">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Confirmar contraseña</mat-label>
          <input matInput
          type="password">
        </mat-form-field>
      </div>
    </form>
    <p class="registro">Ya tienes usuario? inicia sesión</p>
  </div>
</div>
