<form [formGroup]="form" (ngSubmit)="save($event)">
    <p>
        Name: {{ nameField?.valid }}
        <input
        [ngClass]="{ 'is-valid': nameField, 'is-invalid': isNameFiledInvalid}"
        type="text"
        formControlName="name"
        placeholder="Escribe aca"
        >
        <button [disabled]="nameField?.invalid" (click)="getNameValue()" >Get Value</button>
        <!-- <code>
            <pre>
                {{ name  | json }}
            </pre>
        </code> -->
    </p>
    <div class="messages" [ngClass]="{ 'active': isNameFiledInvalid }">
        <p>
            <strong *ngIf="nameField?.touched && nameField?.hasError('required')">Este campo es requerido</strong>
        </p>
        <p>
            <strong *ngIf="nameField?.touched && nameField?.hasError('maxlength')">Debe tener máximo 10 caracteres</strong>
        </p>
    </div>
    
    <p>
        Email: {{ emailField?.value }}
        <input type="email" formControlName="email" placeholder="Email">
    </p>
    
    <p>
        Telephone: {{ telField?.value }}
        <input type="tel" formControlName="tel" placeholder="Telefono">
    </p>
    
    <p>
        Color: {{ colorField?.value }}
        <input type="color" formControlName="color" placeholder="Color">
    </p>
    
    <p>
        Date: {{ dateField?.value }}
        <input type="date" formControlName="date" placeholder="Date">
    </p>
    
    <p>
        Number: {{ numberField?.value }}
        <input type="number" formControlName="number" placeholder="Numero">
    </p>
    <p>
        Area: {{ areaField?.value }}
        <textarea formControlName="area"></textarea>
    </p>
    
    <p>
        Category {{ categoryField?.value }}
        <select formControlName="category">
            <option value="category-1">Category 1</option>
            <option value="category-2">Category 2</option>
            <option value="category-3">Category 3</option>
            <option value="category-4">Category 4</option>
        </select>
    </p>
    
    <p>
        Tags {{ tagField?.value }}
        <select formControlName="tag" multiple>
            <option value="category-1">Tag 1</option>
            <option value="category-2">Tag 2</option>
            <option value="category-3">Tag 3</option>
            <option value="category-4">Tag 4</option>
        </select>
    </p>
    
    <p>
        Aggre {{ agreeField?.value }}
        <input type="checkbox" formControlName="agree">
    </p>
    
    <p>
        Gender {{ genderField?.value }}
        <label>
            <input name="gender" type="radio" value="M" formControlName="gender">
            Male:
        </label>
        <label>
            <input name="gender" type="radio" value="F" formControlName="gender">
            Female:
        </label>
        <label>
            <input name="gender" type="radio" value="O" formControlName="gender">
            Other:
        </label>
    </p>
    
    <p>
        Zonas {{ zonasField?.value }}
        <label>
            <input  type="radio"  value="zone-1" formControlName="zonas">
            Zona 1:
        </label>
        <label>
            <input  type="radio" value="zone-2" formControlName="zonas">
            Zona 2:
        </label>
        <label>
            <input  type="radio" value="zone-3" formControlName="zonas">
            Zona 3:
        </label>
    </p>

    <p>
        <button type="submit" [disabled]="form.invalid">Save</button>
    </p>
</form>

